        body {
            font-family: Arial, sans-serif;
        }

        form {
            max-width: 300px;
            margin:  auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        h2 {
            font-size: 33px;
            text-align: center;
            margin-top:100px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color:#de0c0c;
        }

        input[type="email"],
        input[type="password"] {
            width: calc(100% - 12px);
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #de0c0c ;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color : #8A0707;	
        }
        
       h1{
    text-align: center;
    font-size: 22px;
    }
     a{
     text-align:center;
    color:#de0c0c;
    text-decoration: none;
    
       }
       
       a:hover{
    color:   #8A0707;
    text-decoration: underline;
}
  